@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\000036}}
h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000311}}
.result {
  margin-top: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000315}}
#search-results h4 a {
  color: #009ee0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000320}}
#search-header #results-string {
  font-size: 150%;
  color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000325}}
#search-header #buttons {
  margin: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000333}}
#search-header {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000337}}
#search-header #results-string {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000342}}
#search-results h2 {
  font-weight: bold;
  margin-bottom: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000347}}
#search-results h3 {
  font-weight: bold;
  margin-bottom: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000356}}
#search-results h5 {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000360}}
#search-results .result-count {
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000364}}
#search-results .result {
  margin-bottom: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000368}}
#search-results .module {
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/search\.scss}line{font-family:\0000372}}
#search-results .search-match {
  background-color: #ffa; }
