www/app/javascript/naturalis/matrix--NEW.js
www/admin/templates/templates/shared/_admin-body-start--ORG.tpl
www/admin/templates/templates/shared/_admin-head--ORG.tpl
www/app/templates/templates/naturalis/matrixkey/webservice.tpl
www/app/templates/templates/nbc_soortenregister/_bin
configuration/app/configuration.php
www/shared/cache
configuration/app/controllers/IndexController--IMPROVED (work in progress).php
configuration/app/controllers/IndexController--ORG.php
configuration/app/controllers/MatrixKeyController--NEW.php
configuration/app/controllers/MatrixKeyController--OLD.php
configuration/app/controllers/MatrixKeyController--ORG.php
configuration/app/controllers/MatrixKeyControllerWeb--NEW.php
configuration/app/controllers/MatrixKeyControllerWebservice--NEW.php
configuration/app/controllers/SearchController--ORG.php
configuration/app/controllers/WebserviceController.php
www/app/media/system/skins/nbc_boktorren
www/app/media/system/skins/nbc_boktorren_proto
www/app/media/system/skins/original_skin
www/app/media/system/skins/whatever
www/admin/templates/templates/species/list--no-HT.tpl
www/app/templates/templates/linnaeus_2/search/_search_results--OBSOLETE.tpl
www/app/templates/templates/linnaeus_2/search/search--ORG-2.tpl
www/app/templates/templates/linnaeus_2/search/search--ORG.tpl
www/app/templates/templates/linnaeus_2/shared/_search-box-ORG.tpl
www/app/templates/templates/linnaeus_2/shared/_search-box_ORG-2.tpl
documentation/entry manual/Linnaeus NG Entry Manual.docx
www/shared/media/_project
www/shared/media/project
documentation/Opzetten-CD-image-LNG-project--v1.1.docx
documentation/Opzetten-CD-image-LNG-project--v1.2.docx
documentation/Opzetten-CD-image-LNG-project--v1.3.docx
documentation/Opzetten-CD-image-LNG-project--v1.docx
documentation/Opzetten-CD-image-LNG-project.docx
www/admin/templates/cache
www/admin/templates/templates_c
www/admin/style/admin--ORG.css
www/admin/style/localhost.css
www/admin/style/vendor.css
www/app/views/matrixkey/_get_unit_scores.php
.idea
.buildpath
.project
.settings
Smarty-3.1.16.zip
__notes.txt
__scratch.txt
_pwd.txt
apps
dumps
generate_parentage_table.php
graveyard
log
phpinfo.php
smarty-2
trash
www/admin/templates/templates/utilities/search_index--ORG.tpl
www/.htaccess
www/forward
www/fuck.php
www/locale
www/mobile
www/phpinfo.php
www/sandbox
www/app/templates/templates/nbc_soortenregister/search/search--ORG.tpl
www/app/media/project/0001
www/app/media/project/0002
www/app/media/project/_snippets
www/admin/vendor
www/admin/media/project
www/admin/javascript/vendor
configuration/admin/configuration.php
www/app/templates/templates/nbc_boktorren
www/app/templates/templates/nbc_boktorren_proto
www/app/templates/templates/nbc_boktorren_v1
www/app/templates/templates/original_skin
www/app/views/zooi
www/app/templates/cache
www/app/templates/configs
www/app/templates/templates_c
www/app/style/0001
www/app/style/0002
www/app/style/0405
www/app/style/custom
www/app/style/nbc_boktorren
www/app/style/nbc_boktorren_proto
www/app/media/system/skins/nbc_default/icons.psd
www/app/media/system/skins/nbc_default/old
database/database.rar
database/heartbeat.php
database/helptexts.php
database/languages.php
database/mysql-dump
database/Copy.sql
database/mysql-dump-empty.sql
database/mysql-dump.sql
database/projects+modules.php
database/ranks.php
database/rights.php
database/shared.php
database/taxon.php
database/users.php
database/schema_changes
configuration/admin/controllers/Literature2Controller.php
configuration/admin/controllers/SearchController-ORG.php
www/app/style/linnaeus_ng/.sass-cache
configuration/locale
*.DS_Store
www/app/style/config.codekit3
configuration/app/rewrite/
configuration/app/custom-configuration.php
configuration/admin/custom-configuration.php
www/app/templates/templates/linnaeus_ng/index/index--IMPROVED (work in progress).tpl
cron/nsr-nba-export/nsr-nba-export.php
tools/beelduitwisselaar-download/imageupload.key
tools/beelduitwisselaar-download/config.php
gulp/js/bundle.js
bower_components
node_modules
vendor
composer.lock
yarn.lock
www/sitemap*