a,.pseudo-a {
	text-decoration: none;
	color: #000099;
}

.pseudo-a {
	cursor:pointer;
}

.general-clickable-image {
	cursor: pointer;
}

.general-clickable-cell {
	cursor: pointer;
	color: #000099;
}

.general-clickable-cell:hover {
	text-decoration: underline;
}

a:hover,.pseudo-a:hover {
	text-decoration: underline;
}

.tr-highlight:hover {
	background-color: #eee;
}

#body-container {
	width: 900px;
}

#page-main,.page-generic-div {
	margin: 10px 10px 10px 10px;
}

#page-main-overlay {
	margin: 10px 10px 10px 10px;
	visibility: hidden;
}

#header-container {
	background-color: #eee;
	height: 80px;
	width: 100%;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
}

#page-container {
	margin-top: 10px;
}

#footer-container {
	background-color: #eee;
	height: 40px;
	width: 100%;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
}

#lng-logo { /* height:25px; */
	margin-top: 0px;
	border: 0px;
}

#eti-logo {
	position: absolute;
	height: 55px;
	margin-top: 16px;
	margin-left: 10px;
	border: 0px;
}

#page-header-titles {
	margin-left: 0px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

#page-header-title {
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

#page-header-version {
	font-size: 10px;
}

#welcome-message {
	margin-left:10px;
	margin-top:10px;
}

#loadingdiv {
	position:absolute;
	top:100px;
	width:32px;
	height:32px;
	background-image:url(../../media/system/ajax-loader.gif);
	background-position:center;
	background-repeat:no-repeat;
/*
	please note:
	background-image:url(../../media/system/ajax-loader.gif);
	is also in the style-declaration of the div (id="loadingdiv")
	itself, as for reasons that are not understood, firexfox
	refuses to show the image otherwise.
*/
}

.loadingdiv-invisible {
	visibility:hidden;
}

.loadingdiv-visible {
	visibility:visible;
}

#breadcrumbs {
	margin-left: 10px;
	font-size: 12px;
}

.crumb,#crumb-current,.crumb-arrow {
	
}

.crumb a,.crumb a:hover,.crumb a:visited {
	text-decoration: none;
	color: black;
	font-style: italic;
}

.crumb a:hover {
	text-decoration: underline;
}

.crumb-arrow {
	font-size: 18px;
	font-weight: bold;
}

#crumb-current {
	
}

#page-block-messages,#page-block-errors {
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	border: 1px dotted black;
	width: 350px;
	background-color: #eef;
}

#page-block-errors {
	background-color: #fee;
}

.message-error {
	color: red;
}

.message-no-error {
	color: green;
}

.message-existing-user {
	color: #900;
}

.asterisk-required-field {
	font-weight: bold;
}

#footer-menu {
	margin-top: 10px;
}

#footer-menu a {
	text-decoration: none;
	margin-right: 20px;
}

#footer-menu a:hover {
	text-decoration: underline;
}

#invisible_container {
	visibility: hidden;
}

.text-block {
	margin-bottom: 10px;
}

.th-userlist-left-align {
	padding-right:20px;
}

.th-userlist-right-align {
	/* doesn't seem to work!? */
	text-align:right;
	padding-left:10px;
}

.cell-userlist-left-align {
	padding-right:20px;
}

.cell-userlist-right-align {
	/* doesn't seem to work!? */
	text-align:right;
	padding-left:10px;
}

.password-weak,.password-moderate,.password-strong,.password-neutral {
	background-color:#f77;
	padding:0px 2px 0px 2px;
}

.password-neutral {
	background-color:#fff;
}

.password-moderate {
	background-color:#f90;
}

.password-strong {
	background-color:#7f7;
}


.cell-module-header-module,.cell-module-header-status,.cell-module-header-actions {
	border-bottom:1px solid #ccc;
}

.cell-module-header-module {
	width:450px;
}

.cell-module-header-status {
	width:250px;
}

.cell-module-header-actions {
	width:100px;
}

.cell-module-title-in-use,.cell-module-title-inactive {
	width:300px;
}

.cell-module-title-inactive {
	color:#666;
}

.cell-module-state {
	padding-right:15px;
	color:#555;
}

.modusers-block-buffercell {
	width:10px;
}

.cell-module-user-active {
	font-weight:bold;
}

.module-title-unused,.module-title-in-use,.module-title-inactive {
	color: #aaa;
	width: 150px;
}

.module-title-in-use {
	color: #000;
	font-weight: bold;
}

.module-title-inactive {
	color: #000;
}

.module-title {
	font-variant: small-caps;
}

.module-new-input {
	
}

.module-new-input-hidden {
	visibility: collapse;
}

.modusers-block-toggle {
	padding:0px 6px 0px 6px;
	cursor: pointer;
}

.modusers-block,.modusers-block-hidden {
	visibility: visible;
}

.modusers-block-hidden {
	visibility: collapse;
}

.modusers-block-buffercell {
	width: 16px;
}

#language-list {
	
}

.cell-language-name,.cell-language-name-unused {
	width: 150px;
}

.cell-language-name-unused {
	color: #888;
}

.cell-language-default,.cell-language-set-default,.cell-language-delete,.cell-language-active,.cell-language-inactive,.cell-language-delete-inactive,.cell-language-active-inactive
{
	cursor: pointer;
	color: #000099;
	background-image: url(../media/system/icons/asterisk.png);
	background-repeat: no-repeat;
	width: 10px;
}

.cell-language-default {
	cursor: default;
}

.cell-language-set-default {
	background-image: url(../media/system/icons/asterisk-gray.png);
}

.cell-language-delete {
	background-image: url(../media/system/icons/cross.png);
}

.cell-language-delete-inactive {
	background-image: url(../media/system/icons/cross-gray.png);
}

.cell-language-active {
	background-image: url(../media/system/icons/module-deactivate.png);
}

.cell-language-inactive {
	background-image: url(../media/system/icons/module-activate.png);
}

.cell-language-active-inactive {
	background-image:
		url(../media/system/icons/module-deactivate-inactive.png);
}

.language-select-item-active {
	background-color: #dfd;
}

.language-select-item {
	
}

.taxon-list-row {
	background-color: #fff;
}

.taxon-list-row:hover {
	background-color: #eee;
}

.taxon-list-cell-rank {
	width: 75px;
}

.taxon-list-cell-name {
	width: 200px;
}

.taxon-list-cell-language,.taxon-list-cell-language-empty,.taxon-list-cell-language-done {
	width: 75px;
	text-align: right;
	background-color: #fcc;
	cursor: pointer;
	color: #000099;
}

.taxon-list-cell-media,.taxon-list-cell-media-empty {
	cursor: pointer;
	color: #000099;	
	width:20px;
	text-align: right;
	padding-right:5px;
	background-color:#cfc;
}

.taxon-list-cell-media-empty {
	background-color:#f1f1f1;
}

.taxon-list-cell-language {
	background-color: #fe0;
}

.taxon-list-cell-language-done {
	background-color: #bfb
}

#taxon-pages-table-div {
	margin-top: 10px;
}

#taxon-language-table-div {
	margin-top: 2px;
}

.taxon-language-table {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

.taxon-language-cell,.taxon-language-cell-active,.taxon-page-cell,.taxon-page-cell-active,.taxon-media-language-tab,.taxon-media-language-tab-active {
	width: 75px;
	background-color: #aaa;
	color: #eee;
	border: 1px solid #999;
	padding: 2px;
	padding-left: 5px;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
}

.taxon-language-cell-active {
	background-color: #eee;
	color: #000;
	cursor: default;
}

.taxon-media-language-tab,.taxon-media-language-tab-active {
	margin-right:5px;
	padding: 0px 3px 0px 3px;
}

.taxon-media-language-tab-active {
	background-color: #eee;
	color: #111;
	cursor: default;
	font-weight: bold;
}


.taxon-page-cell,.taxon-page-cell-active {
	width: 100px;
	font-size: 11px;
}

.taxon-page-cell-active {
	background-color: #eee;
	color: #111;
	cursor: default;
	font-weight: bold;
}

.taxon-page-publish-state {
	font-size: 10px;
}

#taxon-publish-table-div {
	margin-bottom: 10px;
}

#taxon-name-input {
	margin-left: 5px;
	margin-bottom: 10px;
	width: 300px;
}

#taxon-navigation-table {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#taxon-navigation-cell {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.taxon-media-table, .taxon-media-table td, .taxon-media-table th {
	padding:0px;
	margin:0px;
	border-spacing:0px;
}

.taxon-media-classheader {
	font-weight:bold;
	text-decoration:none;
}

.taxon-media-colheader-file,.taxon-media-colheader-name,.taxon-media-colheader-type,.taxon-media-colheader-size {
	text-decoration:underline;
	font-weight:normal;
	width:175px;
}

.taxon-media-colheader-name {
	width:310px;
}

.taxon-media-colheader-type {
	width:250px;
}

.taxon-media-secondary-info {
	color:#666;
}

.taxon-media-cell-size {
	text-align:right;
}

.taxon-media-cell-delete {
	width:50px;
	text-align:center;
	cursor: pointer;
}

#taxon-media-description {
	font:inherit;
	font-size:inherit;
	height:83px;
	width:290px;
	margin-bottom:2px;
}

.cell-page-delete {
	background-image: url(../media/system/icons/cross.png);
	background-repeat: no-repeat;
	width: 16px;
	cursor: pointer;
	color: #000099;
}

.cell-page-delete:hover {
	text-decoration: underline;
}