a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#body-container {
	width:900px;
}

#page-main {
	margin:10px 10px 10px 10px;
}

#header-container {
	background-color:#eee;
	height:80px;
	width:100%;
	margin:0px;
	padding:10px 10px 10px 10px;
	vertical-align:middle;
}

#page-container {
	margin-top:10px;
}

#footer-container {
	background-color:#eee;
	height:40px;
	width:100%;
	margin-top:10px;
	padding:10px 10px 10px 10px;
	vertical-align:middle;
}

#lng-logo {
	/* height:25px; */
	margin-top:0px;
	border:0px;
}

#eti-logo {
	position:absolute;
	height:55px;
	margin-top:16px;
	margin-left:10px;
	border:0px;
}

#page-header-titles {
	margin-left:0px;
	margin-top:10px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}

#page-header-title {
	margin-left:10px;
	font-size:16px;
	font-weight:bold;
}

#breadcrumbs {
	margin-left:10px;
	font-size:12px;
}

.crumb, #crumb-current,.crumb-arrow {

}

.crumb a, .crumb a:hover, .crumb a:visited {
	text-decoration:none;
	color:black;
	font-style:italic;
}

.crumb a:hover {
	text-decoration:underline;
}

.crumb-arrow {
	font-size:18px;
	font-weight:bold;
}

#crumb-current {
}


#page-block-messages,#page-block-errors {
	margin-left:10px;
	margin-top:10px;
	padding:5px 5px 5px 5px;
	border:1px dotted black;
	width:350px;
}

#page-block-errors {
	background-color:#fee;
}

.message-error {
	 color: red;
}

.message-no-error {
	 color: green;
}

.message-existing-user {
	 color: #900;
}

.asterisk-required-field {
	font-weight:bold;
}

#footer-menu {
	margin-top:10px;
	
}

#footer-menu a {
	text-decoration:none;
	margin-right:20px;
}

#footer-menu a:hover {
	text-decoration:underline;
}

.text-block {
	margin-bottom:10px;
}



.cell-module-unused,
.cell-module-activate,
.cell-module-reactivate,
.cell-module-in-use,
.cell-module-deactivate,
.cell-module-inactive,
.cell-module-delete,
.cell-module-invisible,
.cell-moduser-inactive,
.cell-moduser-remove {
	background-image:url(../images/system/icons/module-unused.png);
	background-repeat:no-repeat;
	width:16px;
}

.cell-module-activate,.cell-module-reactivate {
	background-image:url(../images/system/icons/module-activate.png);
	cursor:pointer;
}

.cell-module-in-use {
	background-image:url(../images/system/icons/module-inuse.png);
}

.cell-module-deactivate {
	background-image:url(../images/system/icons/module-deactivate.png);
	cursor:pointer;
}

.cell-module-inactive {
	background-image:url(../images/system/icons/module-inactive.png);
}

.cell-module-delete {
	background-image:url(../images/system/icons/module-delete.png);
	cursor:pointer;
}

.cell-module-invisible {
	background-image:none;
}

.cell-moduser-inactive {
	background-image:url(../images/system/icons/user-gray.png);
	cursor:pointer;
}

.cell-moduser-remove {
	background-image:url(../images/system/icons/user-minus.png);
	cursor:pointer;
}

.cell-module-title-unused,.cell-module-title-in-use,.cell-module-title-inactive {
	color:#888;
	width:150px;
}

.cell-module-title-in-use {
	color:#000;
	font-weight:bold;
}

.cell-module-title-inactive {
	color:#444;
}

.cell-module-title {
	font-variant:small-caps;
}


.module-new-input {
}

.module-new-input-hidden {
	visibility:collapse;
}

.modusers-block-toggle {
	cursor: pointer;
}

.modusers-block-toggle:hover {
	text-decoration:underline;
}

.modusers-block,.modusers-block-hidden {
	visibility:visible;
}

.modusers-block-hidden {
	visibility:collapse;
}

.modusers-block-buffercell {
	width:16px;
}

.general-clickable-image {
	cursor:pointer;
}

#language-list {
}

.cell-language-name,.cell-language-name-unused {
	width:150px;
}

.cell-language-name-unused {
	color:#888;
}
.cell-language-default,
.cell-language-set-default,
.cell-language-delete,
.cell-language-active,
.cell-language-inactive,
.cell-language-delete-inactive,
.cell-language-active-inactive {
	background-image:url(../images/system/icons/asterisk.png);
	background-repeat:no-repeat;
	width:10px;
	cursor:pointer;
}

.cell-language-default {
	cursor:default;
}

.cell-language-set-default {
	background-image:url(../images/system/icons/asterisk-gray.png);
}

.cell-language-delete {
	background-image:url(../images/system/icons/cross.png);
}

.cell-language-delete-inactive {
	background-image:url(../images/system/icons/cross-gray.png);
}

.cell-language-active {
	background-image:url(../images/system/icons/module-deactivate.png);
}

.cell-language-inactive {
	background-image:url(../images/system/icons/module-activate.png);
}

.cell-language-active-inactive {
	background-image:url(../images/system/icons/module-deactivate-inactive.png);
}

.language-select-item-active {
	background-color:#dfd;
}

.language-select-item {
}

.taxon-language-table {
	margin:0px;
	padding:0px;
	margin-bottom:20px;
}

.taxon-language-cell,.taxon-language-cell-active {
	width:100px;
	background-color:#ccc;
	color:#eee;
	border:1px solid #999;
	padding:2px;
	padding-left:5px;
	cursor:pointer;
	text-align:center;
}

.taxon-language-cell-active {
	background-color:#eee;
	color:#111;
	cursor:default;
	font-weight:bold;
}

#taxon-name-input {
	margin-left:5px;
	margin-bottom:10px;
	width:300px;
}

#taxon-navigation-table {
	width:100%;
	margin:0px;
	padding:0px;
}

#taxon-navigation-cell {
	width:100%;
	margin:0px;
	padding:0px;
}

.cell-page-delete {
	background-image:url(../images/system/icons/cross.png);
	background-repeat:no-repeat;
	width:16px;
	cursor:pointer;
}
























