.keypath-full-invisible {
	display:none;
}

.keypath-full-visible {
	position:absolute;
	left:10px;
	background-color:#FFFFFF;
	border:1px solid #999;
	padding:2px;
	width:400px;
}

#keypath {
	margin-left:10px;
	margin-top:5px;
}

#keypath-title {
	font-weight:bold;
}

.keypath-edit {
	cursor:pointer;
	color:#999;
	font-size:9px;
}

.keypath-edit:hover {
	text-decoration:underline;
}

#key-step-number{
	text-decoration:underline;	
}

#key-step-choices{
	text-decoration:underline;
}
