.allLookupList {

	position:absolute;
	top:0px;
	left:0px;
	border:1px dotted black;
	width:350px;
	height:450px;
	background-color:#fff;
	display:block;
	overflow-y:scroll;
	overflow-x:hide;
	z-index: 50000;
	display:none;
	padding:2px;

}

.allLookupListHighlight {

	font-weight:bold;

}

#allLookupListTable {

	width:350px;
	background-color:#CC6633;

}

.allLookupListRow, .allLookupListActiveRow {

	cursor:pointer;

}

.allLookupListRow:hover {

	background-color:#eee;

}

.allLookupListActiveRow {

	background-color:#eee;

}

.allLookupListCell {

	width:350px;

}

.lookupButton {
}

.lookupLink {
	margin-right:10px;
}