body {
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td,th,tr {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	padding-right: 5px;
	margin: 0px 0px 0px 0px;
}

th {
	text-align: left;
}

.project-language,.project-language-active {
	padding:0px 2px 0px 2px;
	cursor:pointer;	
}

.project-language-active {
	font-weight:bold;
	text-decoration:underline;
	cursor: default;
}

#project-language-tabs {
	color:#555;
	font-size:11px;
}

#alphabet {
	margin:5px 0px 5px 10px;
	border-bottom:1px dotted #eee;
}
.alphabet-letter,.alphabet-active-letter {
	padding:0px 5px 0px 5px;
	cursor:pointer;
}
.alphabet-letter:hover {
	text-decoration:underline;
}
.alphabet-active-letter {
	font-weight:bold;
	color:#FF0000;
}