h2,h3,h4 {
    padding: 0;
    margin: 0;
}
h3 {
	font-style:italic;
}
h2,h4 {
    margin-top: 10px;
}
ul {
    margin-top:0;
	list-style:outside none;
	padding-left:0;
}
ul.signed {
	list-style-type: disc; 
	list-style-position: outside; 
	margin-left: 15px; 
}
a.edit {
	margin-left:10px;
	font-size:9.5px;
	color:#06C;
}
.editspan {
	display:none;
	margin-left:10px;
	color:red;
}
select {
	width:auto;
	max-width:250px;
}
#dropdown-list {
	background-color:white;
	border:1px solid #666;
	display:none;
	width:auto;
	min-width:350px;
	max-width:750px;
	max-height:350px;
	overflow:hidden;
}
#dropdown-list-close {
	text-align:right;
	background-color:#eee;
	height:15px;
	padding-right:5px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}
#dropdown-list-content {
	width:auto;
	min-width:350px;
	max-width:750px;
	max-height:340px;
	overflow-y:scroll;
	overflow-x:hidden;
}
th {
	text-align:right;
	font-weight:normal;
}
tr {
	vertical-align:top;
}
input[type=text] {
	width:300px;
}
input[type=text].medium {
	width:200px;
}
input[type=text].small {
	width:100px;
}
