// SETTINGS
		@import "settings";

.module-glossary{
	#definition{
		margin-bottom: 0;
	} 

	#alphabet{
		width: 100%;
	}

	#content {
    	-moz-columns: 3 100px;
    	columns: 3 100px;
	}

	.alphabet-letter-title{
		text-transform: uppercase;
		margin: 0 0.5em;
	}

}


.media-caption{
	margin-bottom: 2em;
	font-family: $font-family-sans-serif;
	font-size: 12px;
}

//// SETTINGS
//		@import "settings";
//
//		
//
//@media none {
//
//	#page-main #definition {
//		text-align: justify;
//		width: 450px;
//		float: left;
//		padding-right: 15px;
//	}
//
//	#page-main #synonyms {
//		margin-top: 12px;
//	}
//
//	#page-main #synonyms-title, #media-title {
//		font-weight:bold;
//	}
//
//	#page-main .synonym {
//	}
//
//	#page-main #media {
//		float: right;
//		padding-left: 20px;
//		border-left: 1px dotted #0303b2;
//	}
//}
//