// SETTINGS
		@import "settings";

		#media{
			overflow: auto;
			padding: 1em;
		}

		.media-cell{
			background: rgba(255,255,255,0.5);		    	
		    position: relative;
		    display: inline-block;
		    overflow: hidden;
		    margin: 0 12px 12px 0;
			padding: 5px;
		    outline: 1px solid $grijs-6;
		    vertical-align: top;

		    &:hover{
				background: rgba(240,240,240,0.5);		    	
		    }

		    &.media-type-video{
		    	width: 200px;
		    
		    	a{
		    		border: none !important;
		    	}
		    }

		}

		.image-thumb,
		.image-full{
			height: 150px;
		}

		.media-caption{
			margin: 0.5em 0 0;
			font-weight: 400;
			font-size: 12px;
			font-family: $font-family-sans-serif-regular;
		}

		.image-wrap{
			border: none;
		}

//	#synonyms p, #synonyms td, #common p, #classification p {
//		margin-bottom: 0;
//	}
//
//	#index table {
//		border-collapse:collapse;
//	}
//
//	#index td {
//		width:250px;
//	}
//
//	#navigation {
//		border-top:1px dotted #666;
//		padding-bottom:5px;
//		margin-bottom:5px;
//	}
//
//	#page-main #content .taxon-section-head {
//		font-weight:bold;
//	}
//
//	#classification .current-taxon {
//		font-weight:bold;
//	}
//
//	#classification td {
//		width:250px;
//	}
//
//	#literature {
//	}
//
//	#literature .author {
//	}
//
//	#literature .name {
//		font-weight:bold;
//	}
//
//	#literature .year {
//	}
//
//	#literature .text {
//		margin-bottom:10px;
//	}
//
//	#synonyms {
//		margin-bottom: 20px;
//	}
//
//	#synonyms .title {
//		font-weight:bold;
//		margin-bottom:2px;
//	}
//
//	#synonyms td {
//		width:250px;
//	}
//
//	#common {
//	}
//
//	#common .title {
//		font-weight:bold;
//		margin-bottom:2px;
//	}
//
//	#common th {
//		font-weight:normal;
//		margin-bottom:20px;
//		font-style:italic;
//	}
//
//	#common td {
//		width: 250px;
//	}
//