body {font-family:Arial,Helvetica,Sans-serif; font-size:75%;}
#container {width:960px; margin:0 auto 0 auto;}
#header, #siteNavigatie, #content, #footer {width:100%;}
#header {height:100px; background-color:#ddd;}
#siteNavigatie {height:28px; border-bottom:solid 1px #ddd;}
#content {float:left;}
#content div {float:left; clear:none; position:relative;}
#content div#facets {width:230px;}
#content div#results {width:720px; left:10px;}
#footer {font-size:0.9em; border-top:solid 1px #ddd; line-height:2.5em; text-align:center; float:left; height:100px;}

/* */
a.startDeterminatieLink {display:block; width:250px; font-weight:bold; background-color:#eeeeee; color:#666666; text-align:center; vertical-align:middle; text-decoration:none; position:relative; left:355px; padding:5px 0;}
a.startDeterminatieLink:hover{text-decoration:underline;}
/* sitemenu */
ul.siteMenu {list-style:none; margin:0; padding:0px;}
ul.siteMenu li {float:left; height:28px; clear:none; margin:0;}
ul.siteMenu li:hover {background-color:#eee;}
ul.siteMenu li a {color:black; position:relative; top:6px; margin-right:10px; margin-left:10px; text-decoration:none;}


/* facets*/
ul.facetCategories {padding-left:0px; margin-top:28px; margin-left:0px; list-style:none;}
ul.facetCategories a {text-decoration:none; font-weight:bold; color:#333; display:block; margin-left:5px;}
ul.facetCategories a:hover {text-decoration:underline;}
ul.facetCategories li {width:230px; background-color:#ccc; padding:0 0 3px 0; border-top:solid 1px #ccc;}
ul.facetCategories li.open {padding:5px 0 0 0; border-bottom:solid 0px #bbb;}
ul.facetCategories li.closed {padding:5px 0 7px 0; border-bottom:solid 1px #bbb;}

ul.facets {padding-left:0px; margin-left:0px; list-style:none; margin-top:7px; border-top:1px solid #EEEEEE;}
ul.facets a {text-decoration:none; color:#666;}
ul.facets li {background-color:#eee; border-bottom:solid 1px #dedede; border-top:none; padding-top:1px;}
ul.facets li.opened {padding-bottom:0px;}
ul.facets li a {margin:0 0 0 5px; line-height:24px; width:220px; display:block;}
ul.facets li a.removeBtn {margin-left:3px; font-weight:normal; color:#666; display:inline;}
ul.facets li a.removeBtn:hover {color:#ff0000!important;}
ul.facets li span {margin-left:0px; display:block; width:230px; margin:3px 0 1px 0; line-height:26px; border-top:solid 1px #DDD;}
ul.facets li span div.facetValueHolder {float:none!important; margin:0 0 3px 20px; color:#666;}
ul.facets li span.facetLink_irrelevant {margin:0 0 0 5px; line-height:24px; width:220px; display:block; color:#999; border:none;}
ul.clearSelectionBtn li {border-bottom:1px solid #BBBBBB; border-top:1px solid #BBBBBB; background:#fff url(http://determinatie.nederlandsesoorten.nl/images/clearSelection.gif) no-repeat 4px 10px;}
ul.clearSelectionBtn li a {margin-left:16px;}
ul.clearSelectionBtn li a:hover {color:#aa0000;}

ul.sourceContainer li {padding:0px 5px 7px 5px!important;  width:220px; background-color:#f8f8f8;}
ul.sourceContainer li a {display:inline; margin-left:2px;}
ul.sourceContainer li strong {display:block;margin:5px 0;}

/* results */
#similarSpeciesHeader {width:701px; margin:18px 0 0 18px; padding:0 0 10px 0;background-color:#eee; color:#333; position:relative; font-weight:bold; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#similarSpeciesHeader label {margin:8px 0 8px 5px; width:700px; float:left; display:block;}
#similarSpeciesHeader img {float:right; height:50px; margin:8px;}
#similarSpeciesHeader .clearSimilarSelection {float:left; clear:left; margin:8px 0 0 5px;  color:#888;}

#content div#results #resultsHeader {width:703px; height:27px; margin:28px 0 0 17px; position:relative; border-bottom:solid 1px #ddd; border-top:solid 1px #bbb; color: #666;}
#content div#results #resultsHeader span {margin:5px 0 7px 0;  color:#aaa;}/*float:left;*/
#content div#results div.result {width:145px; min-height:275px; margin-top:27px; margin-left:17px; padding:8px; position:relative; border:solid 1px #ddd;}
#content div#results div.resultHighlight {border:dotted 1px #f44;}
#content div#results div.result .resultImageHolder {height:207px; width:145px; border:solid 1px #aaa; margin-bottom:5px;}
#content div#results div.result .resultImageHolder img {border:none;}
#content div#results div.result div {width:131px; font-size:11px; color:#aaaaaa;}
#content div#results div.result div.scientificNameHolder {min-height:50px;}
#content div#results div.result span.scientificName 
{
	font-style:italic; 
	width:147px; 
	line-height:14px; 
	height:14px;

	}/*font-style:italic;*/

#content div#results div.result a {text-decoration:none; font-size:11px; color:#555555;}
#content div#results div.result a.similarBtn {position:absolute; top:273px; left:8px; background:transparent url(http://determinatie.nederlandsesoorten.nl/images/url.gif) no-repeat 0 4px; padding-left:12px;}
#content div#results div.result a:hover {color:#ff0000;}
#content div#results div.result img.gender {position:absolute;top:221px;left:146px;height:17px;width:8px;}
#content div#results div.result span.genderUnknown {position:absolute;top:221px;left:150px;color:#aaaaaa;}

/* pagination */
div.footerPagination {height:27px; width:703px; border-top:1px solid #ddd; margin:27px 0 0 17px;}
div.headerSelectionLabel {margin:5px 0 0 0; float:left;}
div.headerPagination { margin:0 0 0 17px; float:right!important;}
.paging {border: none; float: left;height:auto;}
.paging li {margin-right: 0.5em;display: inline;}
.paging li.previous a {text-decoration: none;}
.paging li.next a {border: none;text-decoration: none;}
.paging li a {color:#666; text-decoration:none;}
.paging li a:hover {color:#ff0000;}
.paging li strong{color:#ff0000;font-weight:normal;}
.paging li.previous a {padding-left:0.5em; border-left:1px solid #DDDDDD;}
.paging a, 
.paging strong, .paging span {padding-right: 0.5em; border-right: solid 1px #ddd; color:#666;}
.list, 
.list li{margin: 0;padding: 0;list-style: none;}
.list {padding-top: 5px; margin-bottom:5px; float:right;}
.list li {margin-bottom: 1em; margin-right: 0.5em;}
.list li h3 {margin: 0;font-size: 1.2em;	font-weight: normal;}
.list li h3 .rank{float: left;width: 2em;height: 2em;color: #666;}
.list li h3 .type{color: #666;font-size: 0.75em;}
.list li p {margin: 0.5em 0;}
.list li.next {margin-right:0;}
.list li.next a {padding-right:0; padding-right: 0.5em; border-right: solid 1px #ddd; }
.irrelevant 
{
	border:dotted 1px #444444!important;
	filter:alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}
.irrelevant a 
{
	color:#000000!important;
	text-decoration:none; 
	cursor:default;
}
.irrelevant a:hover div {border-color:#ffffff !important;}
#resultsCounter {
	left:9px;
	position:absolute;
	color:#888888;
}

/* value selector dialog - range (text) */
form#rangeSelector {margin-top:20px; margin-left:10px;}
.rangeselectorText {position:relative; top:27px; margin-bottom:10px;}
.rangeselectorInput {position:relative; top:27px;}
a.clearRange {margin-left:15px; display:inline; text-decoration:none; color:red;}
a.clearRange:hover { text-decoration:underline;}

/* value selector dialog - standard (text) */
div#valueSelector {height:390px;width:380px;position:relative;}
div#valueSelector #dialogHeader {top:10px;}
div#valueSelector #dialogSelectorWindow {top:30px;}
div#valueSelector #dialogFooter{top:330px;}
div#valueSelector #resultsCounter {top:312px;}
div#valueSelector .formSection {height:40px;left:10px;position:absolute;width:372px;}
div#valueSelector .scrollcontainer{border:solid 1px #000;width:370px;height:264px;overflow:auto;}
div#valueSelector .scrollcontainer ul {list-style:none; padding:0px; margin-left:5px; margin-top:5px;}
div#valueSelector .scrollcontainer ul li {margin:5px 0 5px 0; float:left; clear:left;background:transparent url(../images/unchecked.gif) no-repeat 5px 5px;}
div#valueSelector .scrollcontainer ul li a {display:block; width:351px; height:23px; position:relative; text-decoration:none; color:Black;}
div#valueSelector .scrollcontainer ul li.irrelevant,
div#valueSelector .scrollcontainer ul li.irrelevant a {color:#eeeeee; border:none!important;}
iv#valueSelector .scrollcontainer ul li.irrelevant,
div#valueSelector .scrollcontainer ul li.irrelevant a span {filter:alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;}
div#valueSelector .scrollcontainer ul li.selected,
div#valueSelector .scrollcontainer ul li.selected a {background:#eeeeee url(../images/checked.gif) no-repeat 5px 5px;}

div#valueSelector .scrollcontainer ul li div {float:none; display:inline;}
div#valueSelector .scrollcontainer ul li strong {left:25px; display:inline; position:absolute; top:3px;}
div#valueSelector .scrollcontainer ul li a span {left:25px; display:inline; position:absolute; top:3px;}

/* value selector dialog - algemeen */ 

#dialogFooter div.toolBarContainer {width:75px; margin-top:12px;}
#dialogFooter div.toolBarContainer ul.toolBar {margin-left:0px;}
div.buttonHolder {border-top:1px dotted #000000;height:60px;padding:5px 0;text-align:center;width:470px;margin-top:15px;}
div.buttonHolder div {margin:0 auto 0 auto; float:none;}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
