<style>
ul { 
	padding:0; 
	margin:0; 
} 
li { 
	list-style-type:none; 
}
h3 {
	margin-bottom:0px;
}
</style>
<div id="colofon" align="left" style="margin:20px;padding-top:10px;margin-bottom:50px;">
<h2>Colofon</h2>

<p>
<h3>Mede mogelijk gemaakt door</h3>
<ul>
<li>Regeling Draagvlak Natuur (Ministerie van EZ)</li>
<li>Prins Bernhard Cultuurfonds</li>
<li>Nationaal Groenfonds</li>
</ul>
</p>

<p>
<h3>Conceptontwikkeling</h3>
<ul>
<li>Naturalis Biodiversity Center</li>
<li>NTR / Het Klokhuis</li>
<li>EIS-Nederland</li>
</ul>
</p>

<p>
<h3>Ontwerp</h3>
<ul>
<li>IJsfontein</li>
</ul>
</p>

<p>
<h3>Back-end</h3>
<ul>
<li>Naturalis Biodiversity Center / ETI Bioinformatics (gebaseerd op Linnaeus NG)</li>
</ul>
</p>

<p>
<h3>App</h3>
<ul>
<li>Naturalis Biodiversity Center / ETI Bioinformatics</li>
</ul>
</p>

<p>
<h3>Logo Dierenzoeker</h3>
<ul>
<li>Dawn</li>
</ul>
</p>

<p>
<h3>Determinatiesleutel</h3>
<ul>
<li>Naturalis Biodiversity Center</li>
<li>EIS-Nederland</li>
</ul>
</p>

<p>
<h3>Dierteksten</h3>
<ul>
<li>Naturalis Biodiversity Center</li>
<li>EIS-Nederland</li>
</ul>
</p>

<p>
<h3>Lesmateriaal</h3>
<ul>
<li>Naturalis Biodiversity Center </li>
</ul>
</p>

<p>
<h3>Tekeningen</h3>
<ul>
<li>Bas Blankevoort (Naturalis Biodiversity Center)</li>
<li>Erik-Jan Bosch (Naturalis Biodiversity Center)</li>
<li>Jeroen de Rond (Natural Media)</li>
<li>Maaike Wijnands (oeHoe; Naturalis Biodiversity Center)</li>
<li>Manon Zuurmond (Manon Project)</li>
</ul>
</p>

<p>
<h3>Foto's</h3>
<ul>
<li>Jan van Asselt</li>
<li>Madeleine Assink-Kleve</li>
<li>Ab H. Baas</li>
<li>Aat Bender</li>
<li>Herman Berkhoudt</li>
<li>Martin Bonte</li>
<li>Karen Bosma</li>
<li>Han Bouwmeester</li>
<li>Wilbert van der Broek</li>
<li>Annelies Buijs</li>
<li>Wijnand van Buuren</li>
<li>Gert-Jan Cromwijk</li>
<li>Menno van Duijn</li>
<li>Henny van Egdom</li>
<li>Tim Faasen</li>
<li>Wanda Floor-Zwart</li>
<li>Ben Hamers</li>
<li>Antonia Hens</li>
<li>Jelger Herder</li>
<li>Chris Herzog</li>
<li>Theodoor Heijerman</li>
<li>Marcel Holtjer</li>
<li>Luc Hoogenstein</li>
<li>Annemieke Hoozemans</li>
<li>Dirk Huitzing</li>
<li>Sytze Jongma</li>
<li>Hans Jonkman</li>
<li>Hannie Joziasse</li>
<li>Guido Keijl</li>
<li>Jan Kersten</li>
<li>Michel Klemann</li>
<li>Roy Kleukers</li>
<li>René Krekels</li>
<li>Susanne Kuijpers</li>
<li>Hans van der Meulen</li>
<li>Susan Meijnders</li>
<li>Ans Molenkamp</li>
<li>Jinze Noordijk</li>
<li>Peter Notenbomer</li>
<li>Henk Olieman</li>
<li>Jeroen van Ophoven</li>
<li>Hans Osinga</li>
<li>Jan Piet Oudwater</li>
<li>Jan Paul</li>
<li>Bauke de Ruiter</li>
<li>Ron Schoone</li>
<li>Jankees Schwiebbe</li>
<li>John T. Smit</li>
<li>Pieter Smit</li>
<li>Frank Stokvis</li>
<li>Kees Venneker</li>
<li>Nick Upton</li>
<li>Hans Vink</li>
<li>Jan Westgeest</li>
<li>Albert de Wilde</li>
<li>Frank de Winter</li>
</ul>
</p>

<p>
<h3>Ontwikkelaars</h3>
<ul>
<li>Adrie Berg</li>
<li>Maarten Schermer</li>
</ul>
</p>
</div>