html {overflow-y: scroll;} /* fixes page-shift problem of (dis)appearing vertical scrollbar/ when page content changes through JS without reload */
body {font-family:Arial,Helvetica,Sans-serif; font-size:75%;}
#content {float:left;padding-top:10px}
#content div {float:left; clear:none; }
#content h2 {width:510px;}
.searchResultMatch {background-color:#ffa;}

#left li {
	list-style:inside;
	list-style-type:none;
    background:none;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0px;
    position: relative;
}

/* menu toolbox
----------------------------------*/
#toolbox
{
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background: url(images/stippellijn.gif) no-repeat left bottom;
}

#toolbox li
{
    padding-left:15px;
}

#toolbox li.print
{
	background: url(images/icon_print.gif) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}

#toolbox li.export
{
	background: url(images/icon_excel.gif) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}

#toolbox li.sendasmail
{
	background: url(images/icon_email.gif) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}




#left #categories {
	margin-bottom:25px;
}

#treebranchContainer #name-tree {
	border-collapse:collapse;
}

#content table tr td {
	padding-right:15px;
}
.classification-name {
	font-size: 13px;
}
.classification-name.smaller {
	font-size: 0.95em;
	font-weight: normal;
}
.classification-connector {
	color:#777;
	display:inline;
	background:url(../../style/nbc_soortenregister/images/taxon_connect.gif) no-repeat scroll left top rgba(0, 0, 0, 0);
	padding-left:8px;
}
.classification-connector-invisible {
	visibility:hidden;
}
.classification-rank {
	font-size:0.75em;
	padding-left:0px;
	display:inline-block;
	vertical-align:bottom;
	padding-bottom:1px;
}

.classification-rank .smaller{
	font-size:10px;
}
.classification-preffered-name {
	font-size:12px;
}
.classification-accepted-name {
	font-size:11px;
}
.classification-count {
	font-size:9px;
	color:#FA7001;
}

#paginator {
	width:510px;
	-border-top:1px dotted #aaa;
}

#paginator ul {
	margin-top:5px;
	display:block;
	float:left;
}

#paginator li {
    display: block;
    float: left;
    list-style: none inside none;
	margin:0 0px 0 0;
	border-right:1px solid #aaa;
}

#paginator li a, .cell {
	padding:0 10px 0 10px;
}

#paginator li.no-border {
	border-right:none;
	padding-right:1px;
}

#results .result {
	vertical-align:top;
	width:500px;
	border-bottom:1px solid #E5E5E5;
	padding-bottom:10px;
	margin-bottom:10px;
}


#results .result img {
	height:auto;
	float:right;
}

.taxon-image-table {
	font-size:9px;
	color:#666;
}
.taxon-dna-table {
	font-size:11px;
}

.taxon-dna-table th, td {
	min-width:50px;
	vertical-align:top;
}

#hint-box {
	background-color:#FFD;
	padding:2px;
	border:1px solid #ccc;
	display:none;
	width:350px;
	position:absolute;
	text-align:left;
	font-weight:normal;
}

#titles {
	width:417px;
}

.formrow input.field {
	left:325px;	
	width:325px;
    right:auto;
}

.auto_complete {
	background-color:#fff;
	border:1px solid #ddd;
	width:325px;
	max-height:250px;
	height:auto;
	overflow:hidden;
	z-index:999;
	position:absolute;
	left:100px;
	top:20px;
	padding:2px;
}

#formSearchFacetsSpecies fieldset {
}

#formSearchFacetsSpecies fieldset.block .formrow {
	position:relative;
}

.formrow input.field {
    left: 100px;
}

div.auto_complete ul li {
    cursor: pointer;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    z-index: 1;
}

div.auto_complete ul li:hover {
    background-color: #FFDDBB;
    z-index: 1;
}

div.auto_complete ul li.selected {
    background-color: #FFDDBB;
    z-index: 1;
}


#body #dialogRidge #left {
}

#body #dialogRidge #content {
    margin-top:0px;
 	padding-top:0px;
}

#content h2 {
    font-size: 18px;
}

#body #dialogRidge #right {

}

#body #dialogRidge #content.taxon-detail {
	margin-top:-33px;
}

#body #dialogRidge #content.image-search, #body #dialogRidge #content.simple-search {
	margin-top:-17px;
}

#body #dialogRidge #content.literature {
	margin-top:-17px;
}


h4 {
    font-weight: normal;
}

#body #dialogRidge #content #taxonHeader #titles .no-subtitle {
	margin-top:17px;
}

.imageInGrid3.taxon-page {
    height: 120px;
}

.imageInGrid3.taxon-page.collected {
    height: 130px;
}

.link {
    color: #FA7001;
    text-decoration: none;
	cursor:pointer;
}
.link:hover {
    text-decoration:underline;
}

#content h2 {
    margin-bottom: 9px;
    padding-bottom: 2px;
}

.panel {
    font-size:100%;
}

.panel th {
	width:100px;!important
}

#taxonImage {
	margin-top:0px;
}

#taxonHeader .full {
    width: 510px !important;
}


html, body {
	height: 100%;
}

#container {
	min-height: 90%;
	height: auto !important;
	height: 70%;
	margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
}

#footer {
	height:7%;
	margin:0;
}

#footer #footerInfo a, #footerInfo {
    color: #FA7001;
}

.taxonoverzicht
{
	list-style: none;
}

.taxonoverzicht li
{
	margin-left: 10px;
	padding-left: 8px; /* afstand naar stippellijn */
	background:url(../../style/nbc_soortenregister/images/taxon_connect.gif) no-repeat scroll left top;
}

.taxonoverzicht li.root
{
	margin-left: -8px !important;
	background:none;
}

#sideBarLogos {
	margin-top:25px;
}

.verspreidingskaart {
	margin-bottom:40px;
}
