.options-panel {
	margin-top:5px;
}
.formrow select {
	font-size:1em;
	margin-left:0px;
	width:200px;
	margin-top:2px;
}
label.clickable {
	cursor:pointer;
	display:inline-block;
	height:15px;
}
label.clickable:hover {
	text-decoration:underline;
}
.zoekknop {
	cursor:pointer;
}
.traits-legend-cell {
	width:150px;
}	
.arrow-container {
	width:15px;
}
.arrow-e, .arrow-se, .arrow-s {
	width: 0;
	height: 0;
	margin-right:2px;
}
.arrow-e {
	margin-top:2px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 10px solid black;
}
.arrow-se {
	margin-top:2px;
	border-top:10px dashed transparent;
	border-right:10px solid black;
}
.arrow-s {
	margin-top:3px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
}

.selectable-parameters {
	padding:0 8px 0 8px;
	margin-bottom:10px;
}
.selected-parameters {
	margin:10px 0 0 -8px;
	padding:10px 6px 10px 10px;
	background-color:#fffbbb;
}
#search-parameters {
	margin-top:5px;
}

