/* LAYOUT */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\000038}}
#page-main #matrix-header {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000313}}
#page-main #search-results #choices {
  width: 47.05882%;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000318}}
#page-main #search-results #scores-taxa {
  margin-left: 5.88235%;
  width: 47.05882%;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000327}}
#page-main #search-pattern #char-states {
  width: 47.05882%;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000332}}
#page-main #search-pattern #info {
  margin-left: 5.88235%;
  width: 47.05882%;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000340}}
#page-main #selected, #page-main #scores, #page-main #states, #page-main #characteristics {
  width: 100%; }

/* STYLING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000350}}
.select-header {
  margin: 0.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000354}}
#matrix-header {
  font-size: 24px;
  margin: 0.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000359}}
#buttons {
  margin-top: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000361}}
  #buttons input {
    font-size: 12px;
    width: 100px;
    max-width: 23%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000366}}
    #buttons input[value="Search >>"] {
      background-color: #009ee0;
      color: white;
      border-color: #009ee0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000375}}
#info-header {
  margin-top: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000379}}
#info-body, #info-value {
  margin-top: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mhvandervelde\/Sites\/lng\/www\/app\/style\/linnaeus_ng\/scss\/matrix\.scss}line{font-family:\0000383}}
.internal-link {
  border-bottom: 1px dotted black; }
