body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#body-container {
}

#header-container {
	background-color:#ffe;
	height:175px;
	border-bottom:1px solid #ffc;
}

#project-logo {
	position:relative;
	left:40px;
	top: 20px;
	width:100px;
	border:0px;
}

#menu-container {
	background-color:#FFd;
	border-bottom:1px solid #FFCCCC;
	color:#600;
	height:40px;
}

#language-change {
	width:100px;
	position:relative;
	margin-top:12px;
	left:700px;
}

#language-change select, option {
	font-family: inherit;
	font-size: 11px;
}

#main-menu {
	position:relative;
	top:10px;
	margin-left:10px;
}

.menu-item {
	text-decoration:none;
	color:#660000;
}

.menu-item:hover {
	text-decoration:underline;
	color:#667777;
}

#page-container {
	width:800px;
	margin-left:10px;
	margin-top:10px;
}

#page-header-titles {
}

#page-header-title {
	font-size:20px;
}

#language-change {
	position:relative;
	top:-20px;
	text-align:right;
}

#page-main {
	margin-top:15px;
}

#module-menu {
	margin-top:10px;
}

.module-menu-item {
	text-decoration:none;
	color:#CC0000;
}

.module-menu-item:hover {
	text-decoration:underline;
}


#introductory-text {
	text-align:justify;
}




#footer-container {
	background-color:#ffe;
	height:175px;
	border-top:1px solid #FFCCCC;
	margin-top:10px;
}



.taxon-section-head {
	font-size:11px;
	font-weight:bold;
}

.taxonContentLiteratureLink,.taxonContentMediaLink,.taxonContentGlossaryLink{
	cursor:pointer;
	text-decoration:underline;
	color:#0000CC;
}