.hidden {
	display: none;	
}
.visible {
	display: block;	
}

#dialog-content, #dialog-content-inner {
	background-color: #fff;
}

#dialog-content-inner-inner {
	max-height:300px;
	overflow-y:auto;
}
#state-header {
	font-weight: bold;
}
.state-image-cell {
	margin: 15px 15px 0px 15px;
}
.state-image-cell:hover {
	color: #f00;
}
.state-image {
	border:2px solid #eee;
}
.state-image:hover {
	border:2px solid #666;
	cursor: pointer;
}