.responsive-title {
  display: none;
  margin-bottom: 30px; }
  @media screen and (max-width: 994px) {
    .responsive-title {
      display: block; }
      .responsive-title h1 {
        margin-bottom: 0; } }

@media screen and (max-width: 994px) {
  .main-display-name.desktop {
    display: none; } }

#categories a {
  padding: 8px 30px 7px 37px;
  display: block;
  color: #000;
  text-decoration: none;
  background-image: url("../img/arrow-right-black.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center left 19px; }
  #categories a.active {
    color: #009ee0;
    background-image: url("../img/arrow-right-blue.svg"); }
  #categories a:hover {
    color: #009ee0;
    background-image: url("../img/arrow-right-blue.svg"); }

@media screen and (max-width: 994px) {
  #categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    white-space: nowrap; }
  #categories li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  #categories a {
    padding: 8px 10px 7px 10px;
    background-image: none; }
    #categories a:hover, #categories a.active {
      background-image: none; } }

.classification-name.current {
  font-weight: bold; }

.footerContainer .copyright {
  padding: 0 15px; }

.search-open .menuContainer {
  margin-top: 0;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease; }

.menuContainer {
  margin-top: -50px;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease; }
  .menuContainer * {
    box-sizing: border-box; }
  .menuContainer #inlineformsearch {
    left: 0;
    right: 0;
    top: 100px;
    background-color: #e3004a;
    height: 50px; }
    .menuContainer #inlineformsearch input {
      height: 50px;
      border: 0;
      outline-width: 0;
      width: 100%;
      max-width: 994px;
      margin: 0 auto;
      display: block;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      padding: 0 15px; }

.menuHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 994px; }
  .menuHolder .search-toggle {
    height: 50px;
    background-color: #e3004a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 47px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto; }
    @media screen and (max-width: 994px) {
      .menuHolder .search-toggle {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: transparent; } }
