@font-face {
  font-family: 'platform-bold';
  src: url("../fonts/platform-bold.otf"); }

@font-face {
  font-family: 'platform-bold-italic';
  src: url("../fonts/platform-bolditalic.otf"); }

@font-face {
  font-family: 'platform-hairline';
  src: url("../fonts/platform-hairline.otf"); }

@font-face {
  font-family: 'platform-hairline-italic';
  src: url("../fonts/platform-hairlineitalic.otf"); }

@font-face {
  font-family: 'platform-light';
  src: url("../fonts/platform-light.otf"); }

@font-face {
  font-family: 'platform-light-italic';
  src: url("../fonts/platform-lightitalic.otf"); }

@font-face {
  font-family: 'platform-medium';
  src: url("../fonts/platform-medium.otf"); }

@font-face {
  font-family: 'platform-medium-italic';
  src: url("../fonts/platform-mediumitalic.otf"); }

@font-face {
  font-family: 'platform-regular';
  src: url("../fonts/platform-regular.otf"); }

@font-face {
  font-family: 'platform-regular-italic';
  src: url("../fonts/platform-regularitalic.otf"); }

.responsive-title {
  display: none;
  margin-bottom: 30px; }
  @media screen and (max-width: 994px) {
    .responsive-title {
      display: block; }
      .responsive-title h1 {
        margin-bottom: 0; } }

@media screen and (max-width: 994px) {
  .main-display-name.desktop {
    display: none; } }

#categories a {
  padding: 8px 30px 7px 37px;
  display: block;
  color: #000;
  text-decoration: none;
  background-image: url("../img/arrow-right-black.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center left 19px; }
  #categories a.active {
    color: #009ee0;
    background-image: url("../img/arrow-right-blue.svg"); }
  #categories a:hover {
    color: #009ee0;
    background-image: url("../img/arrow-right-blue.svg"); }

@media screen and (max-width: 994px) {
  #categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    white-space: nowrap; }
  #categories li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  #categories a {
    padding: 8px 10px 7px 10px;
    background-image: none; }
    #categories a:hover, #categories a.active {
      background-image: none; } }

.classification-name.current {
  font-weight: bold; }

.footerContainer .copyright {
  padding: 0 15px; }

.search-open .menuContainer {
  margin-top: 0;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease; }

.menuContainer {
  position: relative;
  -webkit-transition: margin-top, top 0.5s ease;
  transition: margin-top, top 0.5s ease; }
  .menuContainer * {
    box-sizing: border-box; }
  .menuContainer #inlineformsearch {
    top: 100px;
    margin-top: -50px;
    -webkit-transition: margin-top 0.5s ease;
    transition: margin-top 0.5s ease;
    background-color: #e3004a;
    height: 50px; }
    .menuContainer #inlineformsearch input {
      height: 50px;
      border: 0;
      outline-width: 0;
      width: 100%;
      max-width: 994px;
      margin: 0 auto;
      display: block;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      padding: 0 15px; }

.menuHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 994px; }
  .menuHolder .search-toggle {
    height: 50px;
    background-color: #e3004a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 47px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto; }
    @media screen and (max-width: 994px) {
      .menuHolder .search-toggle {
        position: absolute;
        top: 0px;
        -webkit-transition: top 0.5s ease;
        transition: top 0.5s ease;
        right: 0;
        background-color: transparent; } }
  @media screen and (max-width: 994px) {
    .menuHolder .menuToggle {
      position: absolute;
      top: 0px;
      -webkit-transition: top 0.5s ease;
      transition: top 0.5s ease;
      left: 0; } }

.link {
  position: relative;
  display: inline-block; }
  @media screen and (max-width: 994px) {
    .link {
      position: initial; } }
  .link .mouseover {
    display: none; }
  .link p {
    margin-bottom: 0; }
  .link:hover .mouseover {
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    display: block;
    font-size: 12px;
    color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 10px;
    border-radius: 10px;
    width: 20rem;
    z-index: 6000;
    display: block;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #d8dde6; }
    @media screen and (max-width: 994px) {
      .link:hover .mouseover {
        top: auto; } }
    .link:hover .mouseover:before {
      width: 1rem;
      height: 1rem;
      position: absolute;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      content: '';
      background-color: inherit;
      left: 50%;
      top: -.5rem;
      margin-left: -.5rem; }
    .link:hover .mouseover:after {
      box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
      z-index: -1;
      width: 1rem;
      height: 1rem;
      position: absolute;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      content: '';
      background-color: inherit;
      left: 50%;
      top: -.5rem;
      margin-left: -.5rem; }
    .link:hover .mouseover b {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
      display: block; }

.sideBarLogos.responsive {
  display: none; }
  @media screen and (max-width: 994px) {
    .sideBarLogos.responsive {
      display: block;
      -webkit-box-ordinal-group: 11;
          -ms-flex-order: 10;
              order: 10; } }

@media screen and (max-width: 994px) {
  .sideBarLogos.desktop {
    display: none; } }

@media screen and (max-width: 994px) {
  #facets {
    margin-bottom: 30px; } }

.species-title {
  margin-bottom: 30px; }
  @media screen and (max-width: 994px) {
    .species-title.desktop-title {
      display: none; } }
  .species-title h1 {
    margin-bottom: 0; }

.logoContainer {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0; }
  @media screen and (max-width: 994px) {
    .logoContainer {
      display: none; } }
  .logoContainer .container {
    width: 100%;
    max-width: 994px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px; }
  .logoContainer .logo {
    display: block;
    height: 62px;
    margin-right: 15px; }

.siteTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .siteTitle h1 {
    margin-bottom: 0;
    color: #e3004a;
    font-size: 34px;
    position: relative;
    bottom: -6px;
    font-family: 'platform-medium', Arial;
    -webkit-font-feature-settings: "ss01";
            font-feature-settings: "ss01"; }
  .siteTitle h2 {
    margin-bottom: 0;
    color: #e3004a;
    font-family: 'platform-regular', Arial;
    position: relative;
    bottom: -6px;
    -webkit-font-feature-settings: "ss01";
            font-feature-settings: "ss01"; }

.search-open .search-toggle {
  top: 50px;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease; }

.search-open .menuToggle {
  top: 50px;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease; }

.search-open .menu-search {
  height: 100px;
  -webkit-transition: height, margin-top 0.5s ease;
  transition: height, margin-top 0.5s ease; }

.search-open #inlineformsearch {
  margin-top: 0;
  -webkit-transition: height, margin-top 0.5s ease;
  transition: height, margin-top 0.5s ease; }

.menuOpen .menu-search {
  height: auto; }

.menu-search {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 50px;
  -webkit-transition: height, margin-top 0.5s ease;
  transition: height, margin-top 0.5s ease;
  overflow: hidden; }
  @media screen and (min-width: 995px) {
    .menu-search:hover {
      height: auto;
      -webkit-transition: height, margin-top 0.5s ease;
      transition: height, margin-top 0.5s ease; } }
