.content-species-detail-para-header {
	display:block;
	font-weight:bold;
}
.content-species-detail-content-para {
	display:block;
	margin-bottom:1em;	
}
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
    display:block;
}
h4:first-child > span {
	border-top:none;
}
.ui-collapsible-content-wrapper  {
	/*background: url("../../media/system/skins/dierenzoeker_mobiel/keuze-collapsable-shadow-top.png") top repeat-x;*/
}