#header-titles {
	height: 15px;
	padding: 0;
}

#page-main {
    height: 373px;
}

#page-main p {
    margin-bottom: 2px;
}





#indexNavigationPane {
	top:0px;
	left:0px;
	border-bottom:1px dotted #666;
	width:100%;
}

#commonname-languages {
	font-size: 11px;
	float: right;
}

#activeLanguage {
	font:inherit;
	font-size:inherit;
}

.species-name-cell {
	width:500px;
}

.synonym-addition {
	font-style:italic;
}

#alphabet {
	font-size: 13px;
	border-top: 1px solid #b8b8b8;
	background: #fff;
	padding: 10px 20px;
}

#alphabet .alphabet-active-letter, #alphabet .alphabet-letter, #alphabet .alphabet-letter-ghosted {
	padding: 0 3px;
	text-transform: uppercase;
}

#alphabet .alphabet-letter-ghosted {
	cursor: default;
	color: #b8b8b8;
}


#alphabet .alphabet-active-letter, #alphabet .alphabet-letter:hover {
	color: red;
}

#alphabet .alphabet-letter {
	cursor: pointer;
}

.navigator, .navigator-active {
	font-size:11px;
	width:125px;
	border:1px solid #ddd;
	text-align:center;
	overflow:auto;
	background-color:#eee;
	padding:2px;
	cursor:pointer;
}

.navigator-active {
	font-size:11px;
	background-color:#fff;
	color:#CC0000;
	cursor:default;
}