#results {
}

#results .highlight {
	color: red;
}

#results #header {
	margin-bottom: 15px;
}

#results .set {
	margin-bottom: 20px;
}

#results .subset {
	margin-bottom: 10px;
}

#results .set-header, #results .set-header-clickable {
	padding: 3px;
	font-size:12px;
	font-weight:bold;
	background-color: #f6f6f6;
    border: 1px solid #b8b8b8;
}

#results .result {
	cursor: pointer;
}

#results .result:hover {
	text-decoration: underline;
}

.c1,.c2 {
	padding: 5px 2px;
}

.c1 {
	background: #fff;
}

.c2 {
	background: #f6f6f6;
}

.showHidden,.hideHidden {
	width: 20px;
	height: 20px;
	background-image:
		url(../../../media/system/skins/original_skin/arrow-down.png);
	background-repeat: no-repeat;
	margin-bottom: 0px;
	cursor: pointer;
}

.hideHidden {
	background-image:
		url(../../../media/system/skins/original_skin/arrow-up.png);
}