#page-main {
	height: 600px;
}

#results {
}

#results .highlight {
	color: red;
}

#results #header {
	margin-bottom: 15px;
}

#results .set {
	margin-bottom: 10px;
}

div.set div.subset p {
	margin-left: 16px;
}

#results .set-header, #results .set-header-clickable {
	color: #0303B2;
	padding: 3px;
    border-bottom: 1px solid #b8b8b8;
	font-weight: bold;
}

#results .set-header-clickable {
	cursor: pointer;
}

#page-main p:last-child, #content p:last-child {
    margin-bottom: 3px;
}

#results .result {
	cursor: pointer;
}

#results .result:hover {
	text-decoration: underline;
}
#results .subset-header, .subset-header-zero {
	cursor: pointer;
	border-bottom: 1px dotted #ddd;
	padding: 2px 10px;
}

#results .subset-header-zero {
	cursor:default;
}

.c1,.c2 {
	padding: 3px 2px;
}

.c1 {
	background: #fff;
}

.c2 {
	background: #f6f6f6;
}

