html {overflow-y: scroll;} /* fixes page-shift problem of (dis)appearing vertical scrollbar/ when page content changes through JS without reload */

#results .result {
	line-height:1.2em;
	margin-bottom:10px;
}

#taxonImageCredits {
	font-size:0.8em;
	padding-top:3px;
}

#content #names-table tr td {
	font-size:1em;
	padding:0 4px 2px 0;
}

.imageInGrid3.taxon-page {
    height: 120px;
}

.imageInGrid3.taxon-page.collected {
    height: 130px;
}

.imageInGrid3
{
	float: left;
	display: inline;
	width: 145px;
	height: 190px;
	overflow: hidden;
	color: #666;
	background-color: #FFF;
	margin: 0 5px 0px 5px;
	font-size: 10px;
}

.imageInGrid3 dt
{
	float: left;
	clear: both;
	margin-right: 0.5em;
  font-weight: bold; 
  color:#333;
}

.imageInGrid3 dd, dl
{
	line-height:1.4em;
	font-size: 1em;
	margin-bottom: 0;
}

.imageInGrid3 dd 
{
	/*float: left;*/
	margin-right: 0.5em;
	/*display: inline;
	display: inline-block;*/
}

.imageInGrid3 dl
{
	clear: both;
	margin-bottom:3px;
}

.imageInGrid3 h3
{
	margin-top: 2px;
}

#paginator {
	width:510px;
	-border-top:1px dotted #aaa;
}

#paginator ul {
	margin:5px;
	display:block;
	float:left;
}

#paginator li {
    display: block;
    float: left;
    list-style: none inside none;
	margin:0 0px 0 0;
	border-right:1px solid #aaa;
}

#paginator li a, .cell {
	padding:0 10px 0 10px;
}

#paginator li.no-border {
	border-right:none;
	padding-right:1px;
}

#treebranchContainer #name-tree {
	border-collapse:collapse;
}

#treebranchContainer #name-tree td {
	padding:0;
}

.classification-name {
	font-size: 13px;
}
.classification-name.smaller {
	font-size: 0.95em;
	font-weight: normal;
}
.classification-name.current {
	font-size: 1em;
	font-weight: bold;
}
.classification-connector {
	color:#777;
	display:inline;
	background:url(../../style/nbc_soortenregister/images/taxon_connect.gif) no-repeat scroll left top rgba(0, 0, 0, 0);
	padding-left:8px;
}
.classification-connector-invisible {
	visibility:hidden;
}
.classification-rank {
	font-size:0.75em;
	padding-left:0px;
	display:inline-block;
	vertical-align:bottom;
	padding-bottom:1px;
}

.classification-rank .smaller{
	font-size:10px;
}
.classification-preffered-name {
	font-size:12px;
}
.classification-accepted-name {
	font-size:11px;
}
.classification-count {
	font-size:9px;
	color:#FA7001;
}

